#contCarro{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    width: 50%;
}

#carro{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    border: 3px solid;
    border-color: rgb(230, 117, 52);
    background-color: rgba(179, 179, 174, 0.5);
    box-shadow: 5px 5px 10px rgb(0, 0, 0);
    border-radius: 50%;
    padding: 10px;
    width: 130px;
    height: 130px;
}

#itemsCarr{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
}

#carr{
    width: 40px;
    height: 40px;
}

#cantCarr{
    font-size: 1rem;
    color: white;
}



#buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 5px;
}

#buttons>button{
    width: 80px;
    background-color: rgb(230, 117, 52);
    border-color: rgb(251, 110, 29);
    border-radius: 5px;
    color: white;
}

#productos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-self: stretch;
    max-width: 90%;
    gap: 15px;
    color: black;
    align-items: center;
    padding: 5% 10%;
}


.producto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 375px;
    width: 20%;
    border: 1px solid rgb(116, 116, 116);
    box-sizing: border-box;
    border-radius: 20px;
    background-color: rgba(179, 179, 174, 0.5);
}

.desc_prod{
    padding-top: 10px;
    width: 90%;
    text-align: center;
    height: 20%;
}

.producto p{
    text-align: center;
    max-width: 80%;
}

.producto:hover {
    box-shadow: 5px 5px 10px black, -5px -5px 12px black inset;
}

.tit_prod {
    font-size: 1rem;
}

.img_pro {
    height: 100px;
    width: 100px;
}

.xCarrito{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 100%;
}

.butyselprod{
    border-radius: 10%;
    background-color: black;
    border-color: black;
    color: white;
    width: 40%;
    height: 40px;
    text-align: center;
}

.swal-footer {
    background-color: rgb(211, 232, 246);
    margin-top: 32px;
    border-top: 1px solid #E9EEF1;
    overflow: hidden;
}

.swal-title {
    margin: 0px;
    font-size: 32px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.21);
    margin-bottom: 28px;
}

.swal-text {
    text-align: center;
}

/*Diseño responsive*/

@media screen and (max-width: 950px) {
    .producto{
        width:40% ;
    }
}

@media screen and (max-width: 700px) {
    #productos {
        flex-direction: column;
    }

    .producto {
        width: 50%
    }
    .butyselprod{
        width: 40%;
    }
}

@media screen and (max-width: 450px) {

    .producto {
        width: 80%;
    }

}